/*Navigation Bar*/
.header {
    background: #efefef; 
    clear: both;
    height: 75px;}

    #logo {
      display: inline-block;
      margin:0;
    }

    #navlist {
      float: right;
    }
    
    li {
      display: inline-block;
      list-style-type: none;
      padding-right:20px;
      }

    a:link{
          line-height: 75px;
          height: 75px;
        }
  
  
  
  
  
  
  